# proxy=http://172.18.18.1:3128/
# node-linker=hoisted
# enable-pre-post-scripts=true
# strict-peer-dependencies=false
# auto-install-peers=true
# ignore-workspace-root-check=true
ignore-scripts=false
# ignore-deprecated=true
legacy-peer-deps=true
engine-strict=false
# enable-instrumentation=true